name: Cypress tests
on:
  schedule:
    # Run e2e testing every 5 minutes
    - cron: '*/10 * * * *'
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          node-version: '12'

      - run: npm ci

      - run: npm run mumbai
